.card{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 250px;
    height: 150%;
    width: 75%;
    font-size: 2px;

}


.cart_imgs{
    height: 412px;
    width: 200px;
}

.formulario_title{
    width: 75%;
    margin: auto;
    padding-top: 50px;
}

.cart_buttons{
    display: flex;
    flex-direction: column;
}


.cart_buttons_cont{
    display: flex;
    padding-bottom: 15px;
    flex-direction: row;
    gap: 20px;
}

.cart_buttons_cont h3{
    display: flex;
    padding-top: 5px;
    font-size: 20px;
    color: black;
}

.cart_buttons_crud{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


@media screen and (max-width: 1480px) {
    .cart_tabs{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .cart_tabs{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}