

.cart_buttons_cont{
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    gap: 20px;
}

.cart_buttons_cont h3{
    display: flex;
    font-size: 15px;
    color: black;
}

.cart_buttons_crud{
    display: flex;
    flex-direction: row;
    gap: 5px;
}


@media screen and (max-width: 1480px) {
    .cart_tabs{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .cart_tabs{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
}