*{
    font-family: Arial, Helvetica, sans-serif;
}

.container_Inicio{
    width: 80%;
    height: 100%;
    margin-bottom: 15px;
}

.container_session{
    display: flex;
}

.container_session h2{
    margin: auto;
}
.container_Skills{
    display: flex;
    color: black;
    height: 50px;
}


.container_Skills_h1{
    margin: auto;
    margin-top: 2px;
    font-size: 25px;
}

