.containerNav{
    display: grid;
    height: 60px;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color:#666666;
}


.container_select{
    display: flex;
    width: 80%;
    color: black;
    margin: auto;
}

.container_select_menu{
    display: none;
}

.container_select_title{
    margin: auto;
    padding-left: 100px;
    font-size: xx-large;
    font-family: 'Cursive';
}


.container_select_form{
    display: flex;
    width: 350px;
}

@media screen and (max-width: 768px) {
    /* Oculta el contenedor con la clase .container_select_form */
    .containerNav{
        display: grid;
        width: 100%;
        height: 70px;
        grid-template-columns: repeat(4, 1fr);
        gap: 2px;
        background-color:#666666;
    
    }
    .container_select_form {
        display: none;
    }
    .container_select_box{
        display: none;
    }
    .container_select_menu{
        display: flex;
    }
    .container_select_title{
        display: flex;
        padding-left: 15px;
    }

}